.container {
  width: 100%;
  height: 100vh;
  .ant-layout {
    height: 100%;
    .ant-layout-header {
      padding: 0 16px;
    }
    .logo {
      color: #fff;
      font-size: 20px;
    }
    .header-box {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      .header-right {
        display: flex;
        align-items: center;
        .pointer{
          cursor: pointer;
        }
      }
    }

    .sider {
      height: 100%;
      .iconFont {
        font-size: 18px;
      }
    }
    .ant-layout-footer {
      padding: 0;
      padding-left: 200px;
      text-align: center;
    }
    .content {
      padding: 16px;
    }
    .breadcrumb {
      padding-bottom: 16px;
    }
    .ant-layout-content {
      padding: 0;
      overflow: auto;
    }
  }
}
