{
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 80,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "space-before-function-paren": [0, "always"]
}
